.about {
    justify-content: space-evenly;
    backdrop-filter: brightness(1.4);
}

.about .text {
    width: 40%;
    height: 90%;
}

.about .image {
    width: 40%;
    height: 90%;
}

.about .text .title {
    display: flex;
   justify-content: center;
    gap: 5px;
    flex-direction: column;
}

.about .text .title h2 {
    color: var(--third-color);
font-family: 'Source Sans Pro', sans-serif; 
    font-weight: 600;
}

.about .text .title .line {
    width: 70%;
    height: 1px;
    background: linear-gradient(to right, var(--third-color) , rgba(255, 255, 255, 0));
    opacity: .3;
}

.about .text p {
    width: 90%;
    text-align: justify;
    color: var(--fourth-color);
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 17px;
    margin: 20px 0px;
}

.about .text a button {
    margin: 10px 0px;
    width: 90%;
    color: var(--third-color);
    font-size: 15px;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient( var(--third-color), #02744a);
}

.about .text a button:hover span {
    background: transparent;
    color: var(--first-color);
}
.about .text a button span {
    background: var(--first-color);
    padding: 3px 0px;
    height: 99.9%;
    width: 99.9%;
    border-radius: 20px;
    transition: .4s;
    font-weight: 400;
}

.about .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .image .img:hover {
    border: 1px solid var(--third-color);
}
.about .image .img:hover .img-shadow {
    border: 1px solid var(--third-color);    
    top: 10px;
    left: 10px;
}
.about .image .img:hover img {
    filter: grayscale(0);
}

.about .image .img {
    width: 400px;
    height: 400px;
    border: 1px solid var(--fourth-color);
    transition: .3s;
}
.about .image .img img {
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 1;
    filter: grayscale(1);
    transition: .3s;
}

.about .image .img .img-shadow {    
    width: 400px;
    height: 400px;
    position: relative;
    border: 1px solid var(--fourth-color);
    top: 20px;
    left: 20px;
    transition: .3s;
}